*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f2f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

button { font-family: inherit; }
